.cover_profil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}

.bg--profil {
  width: 40%;
  background: #75c2f6;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 5px 8px rgba(26, 26, 26, 0.363);
}

.admin--data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.admin--data2 {
  display: flex;
  flex-direction: column;
}

.admin--data2 label {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.data--cover {
  background: #fff;
  padding: 8px;
  width: 250px;
  border-radius: 8px;
  border: solid 1px #c0c0c0;
}

.btn--ubah {
  font-size: 14px;
  padding: 6px 10px;
  margin-top: 20px;
  background: #f4d160;
  border-radius: 6px;
  cursor: pointer;
}
